@import url("../Main.css");

html,body{
	background: #1d1f21;
	color: #c5c8c6;}

a, a:link{
	color: #81a2be;}

a:visited{
	color: #b294bb;}

a:focus,a:hover{
	color: #cc6666;}

a:active{
	color: #de935f;}
	
header{
	background: -webkit-linear-gradient(top, #4d4d4c, #333332);
	color: #efefef;
	box-shadow: 0 1px 0.75em rgba(0,0,0,0.5);}

.c{
	background-image: -webkit-linear-gradient(top, 
		rgba(0,0,0,0),
		rgba(0,0,0,0) 0.585454545em,
		rgba(0,0,0,0.2)
	);
	border-top: 1px solid rgba(255,255,255,0.06);}
	
.outgoing{
	background-color: rgba(255,255,255,0.01);}
	
.history{
	background: rgba(255,255,255,0.05) -webkit-linear-gradient(top, 
		rgba(0,0,0,0.035),
		rgba(0,0,0,0.0)
	);}

.t{
	color: #969896;}
	
.history .m{
	color: rgba(197,200,198,0.5) !important;}

.history .t{
	color: rgba(150,152,150,0.5);}

.status, .event, .f{
	background-color: #373b41;
	background-image: -webkit-linear-gradient(top, 
		rgba(0,0,0,0.05),
		rgba(0,0,0,0) 60%,
		rgba(0,0,0,0)
	);
	border-top: 1px solid rgba(255,255,255,0.06);
	text-shadow: 0 1px 2px rgba(0,0,0,0.0);}
	
.status + .c, .event + .c{
	border-top: 1px solid rgba(255,255,255,0.2);}
	
.status + .status, 
.event + .event,
.status + .event, 
.event + .status,
.f + .status,
.f + .event{
	background-image: -webkit-linear-gradient(top, 
		rgba(0,0,0,0),
		rgba(0,0,0,0)
	);
	border-top-color: rgba(0,0,0,0);}
	
button{
	color: #1d1f21; }