@import url("../Main.css");

html,body{
	background: #f9fbff;
	color: #404249;}

a, a:link{
	color: #4e73d4;}

a:visited,
a:focus,a:hover,
a:active{
	color: #1034a4;}
	
header{
	background: -webkit-linear-gradient(top, #4d4d4c, #333332);
	color: #efefef;}

.c{
	background-image: -webkit-linear-gradient(top, 
		#fbfdfe,
		#fbfdfe 1px,
		#f8fafe 2px,
		#f5f6f9 50%,
		#f0f1f3
	);
	border-top: 1px solid #dfe0e6;}
	
.outgoing{
	background-color: transparent;}
	
.history{
	border-top: 1px solid #c5c8cf;
	background: -webkit-linear-gradient(top,
		#d2d6de,
		#dbdfe7 50%,
		#e4e8f0
	);}
	
.history + :not(.history){
	border-top: 1px solid #c5c8cf;}

.t{
	color: #8e929c;}

.history .m{
	color: #979ba5 !important;}

.history .t{
	color: #b4b9c4;}

.status, .event, .f{
	background-color: #e1e1e1;
	background-image: -webkit-linear-gradient(top, 
		#ffce7a,
		#ffe192
	);
	border-top: 1px solid #e78832;
	text-shadow: none;
	color: #863c15;}
	
.status + .c, .event + .c{
	border-top: 1px solid #ebae2f;}
	
.status .t, .event .t, .f .t{
	color: #b87f26;}
	
.status + .status, 
.event + .event,
.status + .event, 
.event + .status,
.f + .status,
.f + .event{
	background: #ffe192;
	border-top-color: rgba(0,0,0,0);}
	
.status.history, .event.history, .f.history{
	background-color: #e1e1e1;
	background-image: -webkit-linear-gradient(top, 
		#ffedb7,
		#ffe5a5
	);
	border-top: 1px solid #ffd17f;
	text-shadow: none;
	color: #b87f26;}

.status.history .m, .event.history .m{
	color: #b87f26 !important;}
	
.status.history + .c, .event.history + .c{
	border-top: 1px solid #f1d8af;}
	
.status.history .t, .event.history .t, .f.history .t{
	color: #b87f26;}
	
.status.history + .status.history, 
.event.history + .event.history,
.status.history + .event.history, 
.event.history + .status.history,
.f.history + .status.history,
.f.history + .event.history{
	background: #ffe192;
	border-top-color: rgba(0,0,0,0);}
	
button{
	color: # }