<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>35D0DA58-CC94-497D-BEE7-9A84A8B5F331</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C865BDD-F57F-404C-8BC5-E6BC36FCD2EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>887CCA02-318B-4BE2-A3B0-36D07195A971</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7632E814-76A3-4E4C-A531-910B829B9367</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CA9D6CB4-725A-4FA4-9F72-1F88165960CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C865BDD-F57F-404C-8BC5-E6BC36FCD2EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA845F90-03B4-411E-8ACF-99A5B4C429A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D681C96B-7F4B-403E-9845-94E114350764</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6015DEC-91EC-4D4A-9AEC-79E57936F5EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>887CCA02-318B-4BE2-A3B0-36D07195A971</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Adam Jahnke</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Zoom.us</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>zoommtg://invisionapp.zoom.us/join?action=join&amp;confno={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7632E814-76A3-4E4C-A531-910B829B9367</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>6</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>Z</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A6015DEC-91EC-4D4A-9AEC-79E57936F5EB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>query="${1:-$(pbpaste)}"
query="$(echo -n "$query" | tr -d '[:space:]')"
query="${query%%\?*}"
query="${query##*:}"
query="${query##*/}"
query="${query//-/}"

if [[ -z "$query" ]]; then
	exit 1
fi

echo -n "$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/usr/bin/env bash</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>887CCA02-318B-4BE2-A3B0-36D07195A971</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>ID: "{query}"</string>
				<key>title</key>
				<string>Joining Meeting</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CA9D6CB4-725A-4FA4-9F72-1F88165960CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/icalBuddy -iep 'title,notes' --includeCals adamjahnke@invisionapp.com eventsFrom:'now' to:'today' | \
/Users/adam/.nvm/versions/node/v8.11.3/bin/node -e '\
	const event = fs.readFileSync(0).toString().split("•").filter(s =&gt; s.includes("invisionapp.zoom.us"))[0]; \
	const title = event.match(/^(.*)(?:\(.*\))/)[1].trim(); \
	const id = event.match(/(?:invisionapp\.zoom\.us\/j\/)(\w*)/)[1].trim(); \
	console.log(id); \
'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/usr/bin/env bash</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8C865BDD-F57F-404C-8BC5-E6BC36FCD2EC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>6</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>Z</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>35D0DA58-CC94-497D-BEE7-9A84A8B5F331</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>zoommtg://invisionapp.zoom.us/join?action=join&amp;confno={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FA845F90-03B4-411E-8ACF-99A5B4C429A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>ID: "{query}"</string>
				<key>title</key>
				<string>Joining Meeting</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D681C96B-7F4B-403E-9845-94E114350764</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>35D0DA58-CC94-497D-BEE7-9A84A8B5F331</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>7632E814-76A3-4E4C-A531-910B829B9367</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>887CCA02-318B-4BE2-A3B0-36D07195A971</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>8C865BDD-F57F-404C-8BC5-E6BC36FCD2EC</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>A6015DEC-91EC-4D4A-9AEC-79E57936F5EB</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>CA9D6CB4-725A-4FA4-9F72-1F88165960CA</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>D681C96B-7F4B-403E-9845-94E114350764</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>FA845F90-03B4-411E-8ACF-99A5B4C429A4</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://adamyonk.com</string>
</dict>
</plist>
