# Sample gitconfig
#
# This is a sample gitconfig. Usually we keep a lot of sensitive information
# here (things like authentication tokens, email addresses, and so on), so this
# file is ignored in this project's .gitignore.
#
# To set this up, rename this file to `gitconfig.symlink` and you'll be able to
# install this to the correct location by running the project's main `rake`
# task.
[apply]
  whitespace = Fix
[branch]
  autosetuprebase = always
[color]
	branch = auto
	diff = auto
	status = auto
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
[core]
	editor = vim
	excludesfile = ~/.gitignore
	quotepath = false
[github]
	token = TOKEN
	user = adamyonk
[mergetool]
  keeypBackup = false
[user]
	email = EMAIL
	name = Adam Jahnke
