.DS_Store
vim/vim.symlink/.netrwhist
vim/vim.symlink/undo
js/js.symlink/*
css/css.symlink/*
.sass-cache
tags

mail/vmail-contacts.txt
mail/vmail.db
mail/vmail.log
mail/vmailbuffer

chat/mcabber.symlink/history/*

fish/fish.symlink/fish/fish_history
