[submodule "vim/vim.symlink/bundle/vim-pathogen"]
	path = vim/vim.symlink/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/vim.symlink/bundle/vim-colors-solarized"]
	path = vim/vim.symlink/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim.symlink/bundle/syntastic"]
	path = vim/vim.symlink/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/vim.symlink/bundle/vim-fugitive"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/ctrlp"]
	path = vim/vim.symlink/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/vim.symlink/bundle/nerdtree"]
	path = vim/vim.symlink/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/vim-coffee-script"]
	path = vim/vim.symlink/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vim.symlink/bundle/vim-markdown"]
	path = vim/vim.symlink/bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
