[alias]
  aa = add --intent-to-add .
  b = branch --sort=-committerdate --format='%(HEAD)%(color:yellow)%(refname:short) | %(color:bold green)%(committerdate:relative) | %(color:blue)%(subject)%(color:reset)' --color=always
  bs = bisect start --term-new=new --term-old=old
  c = commit
  ca = !git add --intent-to-add . && git commit -a
  co = checkout
  cp = cherry-pick
  create = create -p
  cs = !"git stash save --keep-index; git commit --verbose; git stash pop"
  d = diff --color-words --ignore-all-space
  dlc = diff --cached HEAD^
  dw = diff --color-words --word-diff -w
  f = fetch
  l = log --abbrev-commit --color --graph --pretty=format:"%Cred%h%Creset\\ -%C(yellow)%d%Creset\\ %s\\ %Cgreen(%cr)%C(bold\\ blue)\\ <%an>%Creset"
  m = merge
  mypulls = browse -- pulls/adamyonk
  new = create -p
  pl = pull
  ps = push
  s = status --branch --short
  sa = stash apply
  safe = !mkdir -p .git/safe && echo "Repository marked safe!"
  shove = push --force-with-lease
  show-files = diff-tree --no-commit-id --name-only -r
  si = stash save --keep-index
  sp = stash pop
  standup = log --author=\"Adam Jahnke\" --pretty=oneline --since yesterday
  sub = submodule
  suba = submodule add
  subf = submodule foreach
  subu = submodule foreach git pull origin master
  who = blame

[branch]
  autosetuprebase = always

[credential]
  helper = envvar

[color]
  branch = auto
  diff = auto
  status = auto
  ui = 1

[commit]
  #gpgsign = true
  template = ~/.gitmessage

[core]
  editor = nvim
  excludesfile = ~/.gitignore
  ; pager = delta
  quotepath = false

[delta]
  features = line-numbers decorations
  syntax-theme = base16
  whitespace-error-style = 22 reverse

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none

[diff]
  algorithm = patience
  colorMoved = zebra
  ; external = difft

[fetch]
  prune = true

[gh]
  protocol = https

[github]
  user = adamyonk

[gpg]
  program = gpg

[help]
  autocorrect = 1

[heroku]
  account = me

[hub]
  protocol = https

[include]
  path = ~/.gitconfig.local

[init]
  defaultBranch = main
  #templatedir = ~/.git_template

[interactive]
    diffFilter = delta --color-only --features=interactive

[merge]
  #conflictStyle = diff3
  ff = false

[mergetool]
  keepbackup = false

[pull]
  rebase = true

[push]
  default = tracking
  followTags = true
	autoSetupRemote = true

[rebase]
  autoStash = true
  autosquash = true

[rerere]
  enabled = false

[user]
  email = adamyonk@icloud.com
  name = Adam Jahnke

[url "https://github"]
  insteadOf = git://github

[url "https://github.com/"]
  insteadOf = git@github.com:
