git/gitconfig.symlink
git/gitconfig.local.symlink

vim/vim.symlink/plugged
vim/vim.symlink/.netrwhist
vim/vim.symlink/undo
tags
.ctrlp-cache

system/config.symlink/*

!system/config.symlink/fish/
system/config.symlink/fish/*
!system/config.symlink/fish/config.fish
!system/config.symlink/fish/completions/

.tmux
