.DS_Store

git/gitconfig.symlink
git/gitconfig.local.symlink

vim/vim.symlink/.netrwhist
vim/vim.symlink/undo
tags
.ctrlp-cache

system/config.symlink/hub
system/config.symlink/libimobiledevice/
system/config.symlink/fish/*
!system/config.symlink/fish/config.fish
!system/config.symlink/fish/completions/
