[alias]
  aa = add --intent-to-add .
  b = branch
  c = commit
  ca = !git add --intent-to-add . && git commit -a
  co = checkout
	create = create -p
  cs = !"git stash save --keep-index; git commit --verbose; git stash pop"
  d = diff --color-words
  dlc = diff --cached HEAD^
  dw = diff --color-words --word-diff -w
  f = fetch
  l = log --abbrev-commit --color --graph --pretty=format:"%Cred%h%Creset\\ -%C(yellow)%d%Creset\\ %s\\ %Cgreen(%cr)%C(bold\\ blue)\\ <%an>%Creset"
  m = merge
  mypulls = browse -- pulls/adamyonk
  new = create -p
  pl = pull
  ps = push
  s = status --branch --short
  sa = stash apply
  safe = !mkdir -p .git/safe && echo "Repository marked safe!"
  shove = push --force-with-lease
  si = stash save --keep-index
  sp = stash pop
  standup = log --author=\"Adam Jahnke\" --pretty=oneline --since yesterday
  sub = submodule
  suba = submodule add
  subf = submodule foreach
  subu = submodule foreach git pull origin master
  who = blame

[branch]
  autosetuprebase = always

[credential]
  helper = envvar

[color]
  branch = auto
  diff = auto
  status = auto
  ui = 1

[commit]
	#gpgsign = true
  template = ~/.gitmessage

[core]
  editor = nvim
  excludesfile = ~/.gitignore
  quotepath = false

[diff]
  algorithm = patience
  colorMoved = zebra

[fetch]
  prune = true

[gh]
  protocol = https

[github]
  user = adamyonk

[gpg]
  program = gpg

[help]
  autocorrect = 1

[heroku]
  account = me

[hub]
  protocol = https

[include]
  path = ~/.gitconfig.local

[init]
  #templatedir = ~/.git_template

[merge]
  conflictStyle = diff3
  ff = false

[mergetool]
  keepbackup = false

[pull]
  rebase = true

[push]
  default = tracking
	followTags = true

[rebase]
  autoStash = true
  autosquash = true

[rerere]
  enabled = true

[user]
	email = adamyonk@icloud.com
  name = Adam Jahnke

[url "https://github"]
	insteadOf = git://github

[url "https://github.com/"]
	insteadOf = git@github.com:
