<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<dict>
		<key>Creator</key>
		<string>Tamás Gál</string>
		<key>Title</key>
		<string>septi v2.2</string>
	</dict>
	<key>State</key>
	<dict>
		<key>Alert</key>
		<dict>
			<key>Animated</key>
			<true/>
			<key>Delay</key>
			<real>0.4</real>
			<key>Images</key>
			<array>
				<string>Flap1.png</string>
				<string>Flap2.png</string>
			</array>
		</dict>
		<key>Away</key>
		<dict>
			<key>Animated</key>
			<false/>
			<key>Image</key>
			<string>away.png</string>
			<key>Overlay</key>
			<false/>
		</dict>
		<key>Base</key>
		<dict>
			<key>Animated</key>
			<false/>
			<key>Image</key>
			<string>offline.png</string>
			<key>Overlay</key>
			<false/>
		</dict>
		<key>Connecting</key>
		<dict>
			<key>Animated</key>
			<true/>
			<key>Delay</key>
			<real>0.5</real>
			<key>Images</key>
			<array>
				<string>Connect1.png</string>
				<string>Connect2.png</string>
				<string>Connect3.png</string>
			</array>
			<key>Overlay</key>
			<false/>
		</dict>
		<key>Idle</key>
		<dict>
			<key>Animated</key>
			<false/>
			<key>Image</key>
			<string>idle.png</string>
			<key>Overlay</key>
			<false/>
		</dict>
		<key>Invisible</key>
		<dict>
			<key>Animated</key>
			<false/>
			<key>Image</key>
			<string>invis.png</string>
			<key>Overlay</key>
			<false/>
		</dict>
		<key>Online</key>
		<dict>
			<key>Animated</key>
			<false/>
			<key>Image</key>
			<string>online.png</string>
			<key>Overlay</key>
			<false/>
		</dict>
		<key>Preview</key>
		<dict>
			<key>Animated</key>
			<false/>
			<key>Image</key>
			<string>AM.png</string>
			<key>Overlay</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
