*{
	margin:0;
	padding:0;
	border: 0;
	color:inherit;}

html,body{
	word-wrap: break-word;
	word-break: break-word;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	background: #fff;
	color: #4d4d4c;}
	
img{
	position: relative;
	vertical-align: middle;}

img.emoticon{
	position: relative;
	display: inline-block;
	background: transparent;
	border: 0;
	margin: -1em 0 -0.25em;}

img.scaledToFitImage{
	width: auto;}

a, a:link{
	color: #4271ae;}

a:visited{
	color: #8959a8;}

a:focus,a:hover{
	color: #c82829;}

a:active{
	color: #f5871f;}

#Chat{
	overflow: hidden;}
	
header{
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	padding: 0.5em 5px;
	background: -webkit-linear-gradient(top, #4d4d4c, #333332);
	color: #efefef;
	text-align: center;
	box-shadow: 0 1px 0.75em rgba(0,0,0,0.5);}

.c{
	overflow: hidden;
	position: relative;
	background-image: -webkit-linear-gradient(top, 
		rgba(0,0,0,0),
		rgba(0,0,0,0) 0.585454545em,
		rgba(0,0,0,0.035)
	);
	border-top: 1px solid rgba(0,0,0,0.05);}
	
.outgoing{
	background-color: rgba(0,0,0,0.01);}
	
.history{
	background: rgba(0,0,0,0.015) -webkit-linear-gradient(top, 
		rgba(0,0,0,0.035),
		rgba(0,0,0,0.0)
	);}

div.a{
	position: absolute;
	top: 0.3em;
	left: 3%;
	display: block;
	overflow: hidden !important;
	width: 1.909090909em;
	height: 1.909090909em;
	-webkit-border-radius: 0.25em;}

img.i{
	display: block;
	width: 100%;
	height: 100%;
	-webkit-border-radius: 0.25em;
	background: transparent !important;}
	
.hideIcons .i{
	display: none;}

.t{
	position: absolute;
	top: 0;
	right: 3%;
	font-size: 0.916666667em;
	line-height: 1.636363636em;
	padding: 0.545454545em 5px;
	color: #8e908c;}
	
.showIcons .t{
	padding-right: 0;}

.s{
	padding: 0.25em 6em 0.5em 5px;}
	
.showIcons .s{
	padding: 0;
	height: 1px;
	overflow: hidden;}

.m{
	margin: 0 3%;
	padding: 0.5em 5px;}

.showIcons .m{
	margin: 0 5em 0 2.5em;
	padding: 0.5em 3% 0.5em 3%;}
	
.m+.m{
	margin-top: -0.25em;
	padding-top: 0;}
	
.status .m, .event .m, .f .m:not(.b), 
.status .t, .event .t, .f .t{
	font-size: 0.833333333em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	margin-left: 3em;}
	
.status .t, .event .t{
	padding-top: 0.55em;
	line-height: 1.0;}
	
.f .m:not(.b){
	display: none !important;}
	
.f .t{
	padding-top: 0.86em;}

/*	
.history .m, .history .t{
	opacity: 0.6;
	text-shadow: 0 1px 1px rgba(255,255,255,0.1);}
*/

.history .m{
	color: rgba(0,0,0,0.5) !important;}

.history .t{
	color: rgba(142,144,140,0.5);}

.status, .event, .f{
	background-color: #e1e1e1;
	background-image: -webkit-linear-gradient(top, 
		rgba(0,0,0,0.05),
		rgba(0,0,0,0) 60%,
		rgba(0,0,0,0)
	);
	border-top: 1px solid rgba(0,0,0,0.12);
	text-shadow: 0 1px 2px rgba(255,255,255,0.9);}
	
.status + .c, .event + .c{
	border-top: 1px solid rgba(0,0,0,0.2);}
	
.status + .status, 
.event + .event,
.status + .event, 
.event + .status,
.f + .status,
.f + .event{
	background-image: -webkit-linear-gradient(top, 
		rgba(0,0,0,0),
		rgba(0,0,0,0)
	);
	border-top-color: rgba(0,0,0,0);}

.status + .status .m, 
.event + .event .m,
.status + .event .m,
.event + .status .m,
.status + .status .t, 
.event + .event .t,
.status + .event .t,
.event + .status .t{
	padding-top: 0;}
	
.f .b{
	margin-top: 0.25em;
	padding-right: 0;
	display: -webkit-box;
	box-orient: horizontal;}
	
.f .b div, .f .b button{
	-webkit-box-flex: 1;}

.f .b .n{
	font-weight: bold;
	padding-top: 0.3em;}
	
button{
	display: inline-block;
	border: 0;
	margin: 0 0 0 0.25em;
	padding: 0.5em 1.5em;
	border-radius: 0.3em;
	background: -webkit-linear-gradient(top, 
		rgba(255,255,255,0.9),
		rgba(255,255,255,0.4)
	);
	box-shadow: inset 0 2px 0 #fff, 
		0 0 0.33em rgba(0,0,0,0.3), 
		0 0 1px rgba(0,0,0,0.1);
	-webkit-transition: all 0.1s; }

button:hover{
	background: -webkit-linear-gradient(top, 
		rgba(255,255,255,1),
		rgba(255,255,255,0.7)
	);
	box-shadow: inset 0 2px 0 #fff, 
		0 0 0.33em rgba(0,0,0,0.3), 
		0 0 1px rgba(0,0,0,0.1), 
		0 0 0.5em rgba(255,255,255,0.9);}

button:active{
	background: -webkit-linear-gradient(top, 
		rgba(255,255,255,0.6),
		rgba(255,255,255,0.9)
	);
	box-shadow: inset 0 1px 0.25em rgba(0,0,0,0.2), 
		inset 0 2px 0 #fff, 
		0 0 1px rgba(0,0,0,0.5) ;}