* {
font-family:"Lucida Grande",arial,sans-serif;
font-size:12px;
line-height:20px;
margin:0;
padding:0;
}

body,p,div,textarea {
font-family:"Lucida Grande",arial,sans-serif;
font-size:13px;
}

abbr {
border-bottom:1px dotted #666;
}

a {
color:#105CB6;
text-decoration:underline;
}

a.silver {
-moz-border-radius:3px;
-webkit-border-radius:3px;
font-size:12px;
background:#d9d9d9 url(/img/buttons/bg_silver.png) repeat-x scroll left 0;
border:1px solid #AAABAB;
color:#333 !important;
text-decoration:none;
padding:2px 10px;
}

.clear {
height:1px;
clear:both;
}

table {
  table-layout: fixed;
}

li {
margin-left:35px;
}

p {
font-family:"Lucida Grande",arial,sans-serif;
font-size:12px;
line-height:20px;
}

.historyLink {
width:100%;
text-align:center;
background-color:#F0F0F0;
display:none;
padding:5px 0;
}

.chatBlock {
border-top:1px solid #E1E1E1;
border-collapse:collapse;
line-height:20px;
}

.chatBlock
p {
margin:5px 10px 0;
}

.chatBlock
td {
padding:3px 0;
}

.linkBlock
.icon {
height:16px;
width:16px;
vertical-align:middle;
margin:2px 5px 4px 10px;
}

.linkBlock
.linkPreview {
margin-top:5px;
}

.fileBlock
.icon {
margin-right:7px;
margin-top:2px;
}

.fileBlock
.fileSize {
color:#666;
}

body, .them {
background-color:#fff;
}

.me {
background-color:#F3F7FB;
border-top:1px solid #BED6EB;
}

.messageBlock
img {
vertical-align:middle;
margin:4px 0;
}

.messageBlock {
border-left:1px solid #e1e1e1;
}

.me
.messageBlock {
vertical-align:middle;
margin-bottom:4px;
border-left:1px solid #BED6EB;
}

.messageBlock
pre {
white-space:pre-wrap;
font-family:monospace;
tab-interval:10px;
margin:0 10px;
}

.messageBlock
code {
white-space:pre-wrap;
font-family:monospace;
}

.nameBlock {
width:110px;
background-color:#f7f7f7;
border-top:1px solid #fff;
border-right:1px solid #fff;
vertical-align:top;
font-weight:700;
text-align:right;
}

.nameBlock
p {
color:#636363;
}

.me .nameBlock
p {
color:#40556A;
}

.me
.nameBlock {
background-color:#E4ECF6;
border-top:1px solid #F3F7FB;
border-right:1px solid #F3F7FB;
}

p.timeBlock {
white-space:nowrap;
color:#999 !important;
text-align:right;
vertical-align:top;
float:right;
margin-top:0;
font-size:11px;
}

.infoBlock
p {
color:#777;
}

.infoBlock
.messageBlock {
border-left:none;
}

.infoBlock
.nameBlock {
background-color:transparent;
border:none;
}

.systemMessage {
background-color:#FFFBE8;
border-top:1px solid #ECDCBD;
}

.systemMessage .nameBlock {
color:#75510F;
background-color:#FDECC6;
border-top:1px solid #FFFAEA;
border-right:1px solid #FFFAEA;
}

.systemMessage .messageBlock {
vertical-align:middle;
margin-bottom:4px;
border-left:1px solid #E6D0AA;
}

.systemMessage.offline,
.systemMessage.away,
.systemMessage.away_message,
.systemMessage.red {
border-top:1px solid #E2AFAF;
}

.systemMessage.offline .messageBlock,
.systemMessage.away .messageBlock,
.systemMessage.away_message .messageBlock,
.systemMessage.red .messageBlock {
background-color:#F9E6E6;
border-left:1px solid #E2AFAF;
}

.systemMessage.offline .nameBlock,
.systemMessage.away .nameBlock,
.systemMessage.away_message .nameBlock,
.systemMessage.red .nameBlock {
background-color:#F4D0D0;
border-top:1px solid #F8DEDE;
border-right:1px solid #F8DEDE;
}

.systemMessage.return_away
.systemMessage.purple {
border-top:1px solid #D2C4F7;
}

.systemMessage.return_away .messageBlock,
.systemMessage.purple .messageBlock {
background-color:#F2F4FD;
border-left:1px solid #D2C4F7;
}

.systemMessage.return_away .nameBlock,
.systemMessage.purple .nameBlock {
background-color:#E4DCFA;
border-top:1px solid #EEE8FC;
border-right:1px solid #EEE8FC;
}

.systemMessage.online,
.systemMessage.green {
border-top:1px solid #BDE18C;
}

.systemMessage.online .messageBlock,
.systemMessage.green .messageBlock {
background-color:#F5F8E7;
border-left:1px solid #BDE18C;
}

.systemMessage.online .nameBlock,
.systemMessage.green .nameBlock {
background-color:#DFF3CD;
border-top:1px solid #FFFAEA;
border-right:1px solid #FFFAEA;
}

.contact_joined,
.contact_left
p {
color:#777;
background-color:transparent;
border-top:1px solid #E1E1E1;
}

.contact_joined .messageBlock,
.contact_left .messageBlock {
border-left:none;
}

.contact_joined .nameBlock,
.contact_left .nameBlock {
background-color:transparent;
border:none;
}

.welcomeMessage {
background-color:#F5F8E7;
border-top:1px solid #BDE18C;
}

.welcomeMessage .nameBlock {
color:#75510F;
background-color:#DFF3CD;
border-top:1px solid #FFFAEA;
border-right:1px solid #FFFAEA;
}

.welcomeMessage .messageBlock {
vertical-align:middle;
margin-bottom:4px;
border-left:1px solid #BDE18C;
}

.tooltip {
position:absolute;
display:none;
}

.atTag {
display:inline-block;
border:1px solid #B4B4B4;
background-color:#EFEFEF;
-webkit-border-radius:4px;
-moz-border-radius:4px;
margin:0;
padding:0 3px;
}

.atTagMe {
color:#fff;
border:1px solid #4783BF;
background:#4282C1 url(/img/at_bg.png) repeat-x;
}

.hexPreview {
-webkit-border-radius:3px;
-moz-border-radius:3px;
text-decoration:none;
border:1px solid #999;
width:15px;
padding:0 5px;
}

.image {
margin:5px 10px;
}

.image
img {
max-width:300px;
max-height:250px;
}

.dateDivider {
background:#F4F4F4 url(/img/sidebar_header_bg.png) repeat-x scroll 0 100%;
color:#333;
font-weight:700;
font-family:'Lucida Grande',tahoma,sans-serif;
font-size:11px;
text-align:center;
border-top:1px solid #CECECE;
padding:0;
}

.chatDivider {
background-color:#AFB8D2;
color:#fff;
height:2px;
border-top:1px solid #5F7DA7;
}

.chatState {
display:none;
padding:3px 5px 3px 112px;
}

.preview {
background:url(/img/chat/preview_bg.png) repeat-x scroll 0 0;
border-left:1px solid #E1E1E1;
}

.preview
td {
vertical-align:top;
padding:0;
}

.me
.preview {
border-left:1px solid #BED6EB;
}

.linkImage {
float:left;
margin:5px 10px;
}

.linkDesc {
color:#888;
}

.messageBlock
p.monospace, .messageBlock p.monospace
*, .messageBlock pre
* {
font-family:monospace;
}

/* MESSAGE STYLE COMPAT */

/* make Adium date_separator status look like HipChat's dateDividers */
.date_separator {
background:#F4F4F4 url(/img/sidebar_header_bg.png) repeat-x scroll 0 100%;
color:#333;
font-weight:700;
font-family:'Lucida Grande',tahoma,sans-serif;
font-size:11px;
text-align:center;
border-top:1px solid #CECECE;
padding:0;
}

.date_separator .nameBlock {
display: none;
background-color:transparent;
border:none;
}

.date_separator .messageBlock {
background-color:transparent;
border-left:none;
}

.date_separator .timeBlock {
visibility: hidden;
}

/* make Adium join/part messages look like HipChat join/part */
.systemMessage.purple {
background-color: white;
border-top:1px solid #E1E1E1;
}

.systemMessage.purple .messageBlock {
background-color: white;
border-left:none;
}

.systemMessage.purple .nameBlock {
background-color: transparent;
border:none;
}

.systemMessage.purple p {
  color: #777;
}
