<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>488DBF69-D276-45AB-8CD7-5E4401D1E844</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>giphy</string>
			<key>text</key>
			<string>Giphy</string>
			<key>url</key>
			<string>https://giphy.com/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>52EF565E-A518-4CAA-8FB3-85B9936BBEDA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gif</string>
			<key>text</key>
			<string>Gif</string>
			<key>url</key>
			<string>https://gfycat.com/gifs/search/{search}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6C413149-C782-47B8-9B89-770BCF8A9C14</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jira</string>
			<key>text</key>
			<string>Search Jira for '{query}'</string>
			<key>url</key>
			<string>https://invisionapp.atlassian.net/secure/RapidBoard.jspa?rapidView=457&amp;projectKey=AUTH&amp;view=planning.nodetail&amp;search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
