<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.adamyonk.snapr</string>

  <key>WatchPaths</key>
  <array>
    <string>/Users/adamyonk/Dropbox/Public/Screenshots</string>
  </array>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/adamyonk/.dotfiles/bin/snapr</string>
  </array>
</dict>
</plist>
