<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AdiumSetVersion</key>
    <real>1.3</real>
    <key>Emoticons</key>
    <dict>
        <key>allthethings.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(allthethings)</string>
        </array>
        <key>Name</key>
        <string>(allthethings)</string>
      </dict>
        <key>android.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(android)</string>
        </array>
        <key>Name</key>
        <string>(android)</string>
      </dict>
        <key>areyoukiddingme.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(areyoukiddingme)</string>
        </array>
        <key>Name</key>
        <string>(areyoukiddingme)</string>
      </dict>
        <key>mike.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(arrington)</string>
        </array>
        <key>Name</key>
        <string>(arrington)</string>
      </dict>
        <key>ashton.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(ashton)</string>
        </array>
        <key>Name</key>
        <string>(ashton)</string>
      </dict>
        <key>atlassian.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(atlassian)</string>
        </array>
        <key>Name</key>
        <string>(atlassian)</string>
      </dict>
        <key>awthanks.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(awthanks)</string>
        </array>
        <key>Name</key>
        <string>(awthanks)</string>
      </dict>
        <key>awyea.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(awyeah)</string>
        </array>
        <key>Name</key>
        <string>(awyeah)</string>
      </dict>
        <key>badass.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(badass)</string>
        </array>
        <key>Name</key>
        <string>(badass)</string>
      </dict>
        <key>badpokerface.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(badpokerface)</string>
        </array>
        <key>Name</key>
        <string>(badpokerface)</string>
      </dict>
        <key>basket.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(basket)</string>
        </array>
        <key>Name</key>
        <string>(basket)</string>
      </dict>
        <key>beer.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(beer)</string>
        </array>
        <key>Name</key>
        <string>(beer)</string>
      </dict>
        <key>bitbucket.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(bitbucket)</string>
        </array>
        <key>Name</key>
        <string>(bitbucket)</string>
      </dict>
        <key>boom.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(boom)</string>
        </array>
        <key>Name</key>
        <string>(boom)</string>
      </dict>
        <key>bumble.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(bumble)</string>
        </array>
        <key>Name</key>
        <string>(bumble)</string>
      </dict>
        <key>bunny.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(bunny)</string>
        </array>
        <key>Name</key>
        <string>(bunny)</string>
      </dict>
        <key>cadbury.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(cadbury)</string>
        </array>
        <key>Name</key>
        <string>(cadbury)</string>
      </dict>
        <key>cake.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(cake)</string>
        </array>
        <key>Name</key>
        <string>(cake)</string>
      </dict>
        <key>candycorn.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(candycorn)</string>
        </array>
        <key>Name</key>
        <string>(candycorn)</string>
      </dict>
        <key>caruso.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(caruso)</string>
        </array>
        <key>Name</key>
        <string>(caruso)</string>
      </dict>
        <key>ceilingcat.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(ceilingcat)</string>
        </array>
        <key>Name</key>
        <string>(ceilingcat)</string>
      </dict>
        <key>cerealguy.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(cereal)</string>
        </array>
        <key>Name</key>
        <string>(cereal)</string>
      </dict>
        <key>challengeaccepted.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(challengeaccepted)</string>
        </array>
        <key>Name</key>
        <string>(challengeaccepted)</string>
      </dict>
        <key>chewy.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(chewie)</string>
        </array>
        <key>Name</key>
        <string>(chewie)</string>
      </dict>
        <key>chocobunny.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(chocobunny)</string>
        </array>
        <key>Name</key>
        <string>(chocobunny)</string>
      </dict>
        <key>chompy.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(chompy)</string>
        </array>
        <key>Name</key>
        <string>(chompy)</string>
      </dict>
        <key>chris.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(chris)</string>
        </array>
        <key>Name</key>
        <string>(chris)</string>
      </dict>
        <key>coffee.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(coffee)</string>
        </array>
        <key>Name</key>
        <string>(coffee)</string>
      </dict>
        <key>content.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(content)</string>
        </array>
        <key>Name</key>
        <string>(content)</string>
      </dict>
        <key>cornelius.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(cornelius)</string>
        </array>
        <key>Name</key>
        <string>(cornelius)</string>
      </dict>
        <key>dance.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(dance)</string>
        </array>
        <key>Name</key>
        <string>(dance)</string>
      </dict>
        <key>dealwithit.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(dealwithit)</string>
        </array>
        <key>Name</key>
        <string>(dealwithit)</string>
      </dict>
        <key>derp.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(derp)</string>
        </array>
        <key>Name</key>
        <string>(derp)</string>
      </dict>
        <key>disapproval.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(disapproval)</string>
        </array>
        <key>Name</key>
        <string>(disapproval)</string>
      </dict>
        <key>dosequis.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(dosequis)</string>
        </array>
        <key>Name</key>
        <string>(dosequis)</string>
      </dict>
        <key>drevil.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(drevil)</string>
        </array>
        <key>Name</key>
        <string>(drevil)</string>
      </dict>
        <key>ducreux.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(ducreux)</string>
        </array>
        <key>Name</key>
        <string>(ducreux)</string>
      </dict>
        <key>dumbbitch.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(dumb)</string>
        </array>
        <key>Name</key>
        <string>(dumb)</string>
      </dict>
        <key>embarrassed.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(embarrassed)</string>
        </array>
        <key>Name</key>
        <string>(embarrassed)</string>
      </dict>
        <key>facepalm.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(facepalm)</string>
        </array>
        <key>Name</key>
        <string>(facepalm)</string>
      </dict>
        <key>fap.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(fap)</string>
        </array>
        <key>Name</key>
        <string>(fap)</string>
      </dict>
        <key>foreveralone.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(foreveralone)</string>
        </array>
        <key>Name</key>
        <string>(foreveralone)</string>
      </dict>
        <key>freddie.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(freddie)</string>
        </array>
        <key>Name</key>
        <string>(freddie)</string>
      </dict>
        <key>fry.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(fry)</string>
        </array>
        <key>Name</key>
        <string>(fry)</string>
      </dict>
        <key>fuckyeah.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(fuckyeah)</string>
        </array>
        <key>Name</key>
        <string>(fuckyeah)</string>
      </dict>
        <key>garret.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(garret)</string>
        </array>
        <key>Name</key>
        <string>(garret)</string>
      </dict>
        <key>gates.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(gates)</string>
        </array>
        <key>Name</key>
        <string>(gates)</string>
      </dict>
        <key>gaytroll.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(gaytroll)</string>
        </array>
        <key>Name</key>
        <string>(gaytroll)</string>
      </dict>
        <key>ghost.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(ghost)</string>
        </array>
        <key>Name</key>
        <string>(ghost)</string>
      </dict>
        <key>farnsworth.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(goodnews)</string>
        </array>
        <key>Name</key>
        <string>(goodnews)</string>
      </dict>
        <key>greenbeer.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(greenbeer)</string>
        </array>
        <key>Name</key>
        <string>(greenbeer)</string>
      </dict>
        <key>gtfo.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(gtfo)</string>
          <string>(huh)</string>
        </array>
        <key>Name</key>
        <string>(gtfo)</string>
      </dict>
        <key>haveaseat.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(haveaseat)</string>
        </array>
        <key>Name</key>
        <string>(haveaseat)</string>
      </dict>
        <key>heart.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(heart)</string>
        </array>
        <key>Name</key>
        <string>(heart)</string>
      </dict>
        <key>hipchat.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(hipchat)</string>
        </array>
        <key>Name</key>
        <string>(hipchat)</string>
      </dict>
        <key>hipster.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(hipster)</string>
        </array>
        <key>Name</key>
        <string>(hipster)</string>
      </dict>
        <key>hubspot.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(hubspot)</string>
        </array>
        <key>Name</key>
        <string>(hubspot)</string>
      </dict>
        <key>ilied.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(ilied)</string>
        </array>
        <key>Name</key>
        <string>(ilied)</string>
      </dict>
        <key>indeed.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(indeed)</string>
        </array>
        <key>Name</key>
        <string>(indeed)</string>
      </dict>
        <key>itsatrap.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(itsatrap)</string>
        </array>
        <key>Name</key>
        <string>(itsatrap)</string>
      </dict>
        <key>jackie.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(jackie)</string>
        </array>
        <key>Name</key>
        <string>(jackie)</string>
      </dict>
        <key>jobs.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(jobs)</string>
        </array>
        <key>Name</key>
        <string>(jobs)</string>
      </dict>
        <key>kennypowers.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(kennypowers)</string>
        </array>
        <key>Name</key>
        <string>(kennypowers)</string>
      </dict>
        <key>krang.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(krang)</string>
        </array>
        <key>Name</key>
        <string>(krang)</string>
      </dict>
        <key>kwanzaa.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(kwanzaa)</string>
        </array>
        <key>Name</key>
        <string>(kwanzaa)</string>
      </dict>
        <key>lincoln.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(lincoln)</string>
        </array>
        <key>Name</key>
        <string>(lincoln)</string>
      </dict>
        <key>lol.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(lol)</string>
        </array>
        <key>Name</key>
        <string>(lol)</string>
      </dict>
        <key>lolwut.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(lolwut)</string>
        </array>
        <key>Name</key>
        <string>(lolwut)</string>
      </dict>
        <key>megusta.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(megusta)</string>
        </array>
        <key>Name</key>
        <string>(megusta)</string>
      </dict>
        <key>menorah.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(menorah)</string>
        </array>
        <key>Name</key>
        <string>(menorah)</string>
      </dict>
        <key>notbad.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(notbad)</string>
        </array>
        <key>Name</key>
        <string>(notbad)</string>
      </dict>
        <key>nothingtodohere.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(nothingtodohere)</string>
        </array>
        <key>Name</key>
        <string>(nothingtodohere)</string>
      </dict>
        <key>ohcrap.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(ohcrap)</string>
        </array>
        <key>Name</key>
        <string>(ohcrap)</string>
      </dict>
        <key>ohgodwhy.jpeg</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(ohgodwhy)</string>
        </array>
        <key>Name</key>
        <string>(ohgodwhy)</string>
      </dict>
        <key>okay.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(okay)</string>
        </array>
        <key>Name</key>
        <string>(okay)</string>
      </dict>
        <key>omg.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(omg)</string>
        </array>
        <key>Name</key>
        <string>(omg)</string>
      </dict>
        <key>oops.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(oops)</string>
        </array>
        <key>Name</key>
        <string>(oops)</string>
      </dict>
        <key>orly.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(orly)</string>
        </array>
        <key>Name</key>
        <string>(orly)</string>
      </dict>
        <key>pbr.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(pbr)</string>
        </array>
        <key>Name</key>
        <string>(pbr)</string>
      </dict>
        <key>pete.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(pete)</string>
        </array>
        <key>Name</key>
        <string>(pete)</string>
      </dict>
        <key>philosoraptor.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(philosoraptor)</string>
        </array>
        <key>Name</key>
        <string>(philosoraptor)</string>
      </dict>
        <key>pingpong.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(pingpong)</string>
        </array>
        <key>Name</key>
        <string>(pingpong)</string>
      </dict>
        <key>pirate.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(pirate)</string>
        </array>
        <key>Name</key>
        <string>(pirate)</string>
      </dict>
        <key>pokerface.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(pokerface)</string>
        </array>
        <key>Name</key>
        <string>(pokerface)</string>
      </dict>
        <key>poo.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(poo)</string>
        </array>
        <key>Name</key>
        <string>(poo)</string>
      </dict>
        <key>present.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(present)</string>
        </array>
        <key>Name</key>
        <string>(present)</string>
      </dict>
        <key>pumpkin.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(pumpkin)</string>
        </array>
        <key>Name</key>
        <string>(pumpkin)</string>
      </dict>
        <key>rageguy.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(rageguy)</string>
          <string>(fu)</string>
        </array>
        <key>Name</key>
        <string>(rageguy)</string>
      </dict>
        <key>rebeccablack.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(rebeccablack)</string>
        </array>
        <key>Name</key>
        <string>(rebeccablack)</string>
      </dict>
        <key>reddit.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(reddit)</string>
        </array>
        <key>Name</key>
        <string>(reddit)</string>
      </dict>
        <key>rudolph.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(rudolph)</string>
        </array>
        <key>Name</key>
        <string>(rudolph)</string>
      </dict>
        <key>sadpanda.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(sadpanda)</string>
        </array>
        <key>Name</key>
        <string>(sadpanda)</string>
      </dict>
        <key>sadtroll.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(sadtroll)</string>
        </array>
        <key>Name</key>
        <string>(sadtroll)</string>
      </dict>
        <key>samuel.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(samuel)</string>
        </array>
        <key>Name</key>
        <string>(samuel)</string>
      </dict>
        <key>santa.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(santa)</string>
        </array>
        <key>Name</key>
        <string>(santa)</string>
      </dict>
        <key>scumbag.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(scumbag)</string>
        </array>
        <key>Name</key>
        <string>(scumbag)</string>
      </dict>
        <key>seomoz.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(seomoz)</string>
        </array>
        <key>Name</key>
        <string>(seomoz)</string>
      </dict>
        <key>shamrock.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(shamrock)</string>
        </array>
        <key>Name</key>
        <string>(shamrock)</string>
      </dict>
        <key>skyrim.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(skyrim)</string>
        </array>
        <key>Name</key>
        <string>(skyrim)</string>
      </dict>
        <key>stare.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(stare)</string>
        </array>
        <key>Name</key>
        <string>(stare)</string>
      </dict>
        <key>sweetjesus.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(sweetjesus)</string>
        </array>
        <key>Name</key>
        <string>(sweetjesus)</string>
      </dict>
        <key>taft.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(taft)</string>
        </array>
        <key>Name</key>
        <string>(taft)</string>
      </dict>
        <key>tea.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(tea)</string>
        </array>
        <key>Name</key>
        <string>(tea)</string>
      </dict>
        <key>thumbs_down.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(thumbsdown)</string>
        </array>
        <key>Name</key>
        <string>(thumbsdown)</string>
      </dict>
        <key>thumbs_up.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(thumbsup)</string>
        </array>
        <key>Name</key>
        <string>(thumbsup)</string>
      </dict>
        <key>tree.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(tree)</string>
        </array>
        <key>Name</key>
        <string>(tree)</string>
      </dict>
        <key>troll.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(troll)</string>
        </array>
        <key>Name</key>
        <string>(troll)</string>
      </dict>
        <key>truestory.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(truestory)</string>
        </array>
        <key>Name</key>
        <string>(truestory)</string>
      </dict>
        <key>turkey.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(turkey)</string>
        </array>
        <key>Name</key>
        <string>(turkey)</string>
      </dict>
        <key>washington.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(washington)</string>
        </array>
        <key>Name</key>
        <string>(washington)</string>
      </dict>
        <key>wat.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(wat)</string>
        </array>
        <key>Name</key>
        <string>(wat)</string>
      </dict>
        <key>wtf.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(wtf)</string>
        </array>
        <key>Name</key>
        <string>(wtf)</string>
      </dict>
        <key>yey.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(yey)</string>
        </array>
        <key>Name</key>
        <string>(yey)</string>
      </dict>
        <key>yodawg.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(yodawg)</string>
        </array>
        <key>Name</key>
        <string>(yodawg)</string>
      </dict>
        <key>yuno.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(yuno)</string>
        </array>
        <key>Name</key>
        <string>(yuno)</string>
      </dict>
        <key>zoidberg.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(zoidberg)</string>
        </array>
        <key>Name</key>
        <string>(zoidberg)</string>
      </dict>
        <key>zzz.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(zzz)</string>
        </array>
        <key>Name</key>
        <string>(zzz)</string>
      </dict>
        <key>cool.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>8)</string>
          <string>8-)</string>
        </array>
        <key>Name</key>
        <string>8)</string>
      </dict>
        <key>footinmouth.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:#</string>
        </array>
        <key>Name</key>
        <string>:#</string>
      </dict>
        <key>moneymouth.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:$</string>
        </array>
        <key>Name</key>
        <string>:$</string>
      </dict>
        <key>cry.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:'(</string>
        </array>
        <key>Name</key>
        <string>:'(</string>
      </dict>
        <key>happytear.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:')</string>
        </array>
        <key>Name</key>
        <string>:')</string>
      </dict>
        <key>frown.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:(</string>
        </array>
        <key>Name</key>
        <string>:(</string>
      </dict>
        <key>smile.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:)</string>
          <string>:-)</string>
          <string>=)</string>
        </array>
        <key>Name</key>
        <string>:)</string>
      </dict>
        <key>kiss.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-*</string>
        </array>
        <key>Name</key>
        <string>:-*</string>
      </dict>
        <key>slant.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:/</string>
        </array>
        <key>Name</key>
        <string>:/</string>
      </dict>
        <key>bigsmile.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:D</string>
          <string>:-D</string>
        </array>
        <key>Name</key>
        <string>:D</string>
      </dict>
        <key>sealed.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:Z</string>
        </array>
        <key>Name</key>
        <string>:Z</string>
      </dict>
        <key>gasp.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:o</string>
        </array>
        <key>Name</key>
        <string>:o</string>
      </dict>
        <key>tongue.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:p</string>
        </array>
        <key>Name</key>
        <string>:p</string>
      </dict>
        <key>straightface.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:|</string>
        </array>
        <key>Name</key>
        <string>:|</string>
      </dict>
        <key>wink.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>;)</string>
          <string>;-)</string>
        </array>
        <key>Name</key>
        <string>;)</string>
      </dict>
        <key>winktongue.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>;p</string>
        </array>
        <key>Name</key>
        <string>;p</string>
      </dict>
        <key>angry.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>>:-(</string>
        </array>
        <key>Name</key>
        <string>>:-(</string>
      </dict>
        <key>innocent.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>O:)</string>
        </array>
        <key>Name</key>
        <string>O:)</string>
      </dict>
    </dict>
  </dict>
</plist>